<launch>
<node name = "roaming_turtle" pkg="turtlesim" type="turtlesim_node" required="true"/>

<node name = "turtle_rect" pkg = "tsim"  type = "turtle_rect" output="screen" >
  <rosparam file="$(find tsim)/config/params.yaml" />
</node>

  <arg name="rqt_plot_on" default="true" doc="set this to true if you want to see rqt_plot"/>
  <node name="pose_plot" pkg="rqt_plot" type="rqt_plot" args="/pose_error" if="$(arg rqt_plot_on)"/>

</launch>
