
<!-- Purpose: launch rviz, publish fake_laser_scan-->
<launch>

	<!-- Convert depth image to laser scan -->
	<node name="FakeLaserScanner" pkg="fake_laser_scan" type="fake_laser_scan" >
      <param name="use_sim_time" value="true"/>
      <rosparam file="$(find rigid2d/config/params.yaml" />
	</node>

    <node name="Obstacles" pkg="fake_laser_scan" type="obstacles">
          <rosparam file="$(find rigid2d)/config/params.yaml" />
    </node>

     <!-- The robot_state_publisher reads the urdf from /robot_description parameter
           and listens to joint information on the /joint_states topic -->
<!--       <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->

      <!-- The joint state publisher will be launched with a gui, read the urdf from /robot_description
           and publish the joint values on /joint_states -->
<!--       <arg name="use_jsp_gui" default = "true" doc="Launch the joint_state_publisher gui to publish joint angles"/> -->
<!--       <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg use_jsp_gui)"> -->
<!--         <param name="use_gui" value="$(arg use_jsp_gui)" /> -->
<!--       </node  > -->

    <!--  <group if="$(arg rviz_launch)" >-->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fake_laser_scan)/config/view_laser_scanner.rviz" required="true"/>
    <!--  </group>-->

</launch>